._google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 20px;
  transition:
    background-color 0.218s,
    border-color 0.218s;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dadce0;
  color: #3c4043;
  cursor: pointer;
  font-family: 'Google Sans', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  width: auto;
  gap: 8px;
}

._google-btn__icon {
  height: 18px;
  margin-right: 8px;
  min-width: 18px;
  width: 18px;
}
._google-btn span {
  flex-grow: 1;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}
