:host {
  display: flex;
  flex-direction: column;
}

.mat-mdc-header-cell {
  font-weight: bold;
}
.mat-column-key {
  width: 300px;
}
.mat-column-controls {
  width: 40px;
}

.hide {
  display: none;
  height: 0;
}
